* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(840294-wallpaper-of-study.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .wrapper {
    width: 820px;
    height:280px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(25px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
  }
  
  .wrapper h1 {
    font-size: 36px;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content:space-around;
    margin-top: 60px;
  }
  
  .big-button {
    width: 230px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }
  
  .big-button:hover {
    background-color: #ddd;
  }
  .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 30px 0 15px;

  }
  .register-link p a{
    color: #fff; 
    text-decoration: none;
    font-weight: 600;
  }
  .register-link p a:hover{
    text-decoration: underline;
  }
  
